/* Scss Document */

$color-1: white;
$color-2: #0099CB; /* Light Blue */
$color-3: #E6EDEF; /* Light Grey */
$color-4: #A7B8BC; /* Blue Grey */
$font-stack: raleway, Arial, sans-serif;

html {
	font-size:100%;
}

h1, h2 {
	font-family:$font-stack;
	font-weight:lighter;
	margin:0;
	letter-spacing:-1.0px;
}

h1 {
	color:$color-1;
}

h2 {
	color:$color-4;
}

header {
	width:100%;
	padding:0.4em 1.5em;
	box-sizing:border-box;
	background-color: $color-2;
}

section {
	display: block;
	margin:1.5em;
}

.row {
	display:block;
	clear:both;
}

.holder {
	float:left;
	margin:10px;
	background-color:$color-3;
	
	h3 {
		font-family:$font-stack;
		font-weight:lighter;
		font-size:small;
		display:block;
		background-color: $color-4;
		margin:0;
		padding:0.2em;
		box-sizing:border-box;
		
		color:$color-1;
	}
	
	.work-banner {
		margin:10px;
		border:1px solid $color-4;
	}
	
	object {
		display:block;
	}
		
}